<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" parallel="classes" name="Regression Report">
        <classes>


            <class name="TestNG.TC_002">
            <methods>
                <exclude name="test1"/>
            </methods>
          </class>
<!--            <class name="TestNG.TC_003"/>-->
<!--            <class name="TestNG.TC_004"/>-->

        </classes>
    </test>
</suite>